/* Start */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.6rem; 
    max-width: 100vw;
    overflow-x: hidden;
}
.header-1{
    display: flex;
    justify-content: space-around;
}
.search-box{
    letter-spacing: 10px;
}
.search-box i:hover{
    color: lightseagreen;
}
.search-box .search{
    width: 300px;
    padding: 8px 8px;
    border-radius: 50px;
    font-size: 12px;
    letter-spacing: 10px;

}
.search-box .search:hover{
    background-color: aliceblue;
}
.search-box .search i{
    color: teal;
    position: relative;
    right: 30%;
    top: 2px;
    background-color:teal ;
}
.heading{
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.header .header-2 .navbar{
    text-align: center;
    background-color: #089da1;

    
}
.header .header-2 .navbar a{
    font-family: sans-serif;
    color: white;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}
.navbar a:hover:not(.active){
    background-color: lightseagreen;
}
.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4caf50;
    z-index: 1000;
}
.bottom-navbar{
    text-align: center;
    background: var(--orange);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}
.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background-color: var(--dark-color);
}

.content{
    background:white;
    width: 100%;
    height: auto;
}
.content-img{
    width: 70%;
    height: auto;
}
.row{
    width: 100%;
    margin: auto;
    display: flex;
    top: 10vh;
    height: auto;
    justify-content:space-around;
    align-items: center;
}
.row h1{
    font-size: 22px;
    color: #0b910b;
    font-weight: 550;
}
.row h2{
    font-size: 48px;
    width: 340px;
    margin: 10px;
    
}
.row p{
    margin-bottom: 20px;
}
.row .btn{
    background: #0b910b;
    border: 1px solid #0b910b;
    color: #ffffff;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all .5s;
}
.row .btn:hover {
    background-color: #ffffff;
    color: #0b910b;
}

.row img{
    width: 100%;
    height: auto;
    max-width: 560px;
}

/*services     */
.services{
    width: 100%;
    height: auto;
    margin: 35px 0;

}
.services .services-box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services .services-box .services-card{
    text-align: center;
    width: 350px;
    height: auto;
    margin: 2px;
    box-shadow:0px 0 8px  #089da1;

    padding: 15px 10px;
}
.services .services-box .services-card i{
    color: #089da1;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}
.services .services-box .services-card h3{
    margin-bottom: 0px;

}
/* */
.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding:10px;
    align-items: center;
}
.about .about-image img{
    width: 400px;
    height: 300px;

}
.about .about-tag p{
    line-height: 22px;
    width: 650px;
    text-align: justify;
    margin-bottom: 0px;
}
.about .about-tag .about-btn{
    padding: 10px 20px;
    background-color: #089da1;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 50px;
}
.about .about-tag .about-btn:hover{
    background-color: lightseagreen;
}

/*   */
.featured-books{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.featured-books .featured-book-box{
    width: 95%;
    height: 60vh;
    margin:0 auto ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}
.featured-books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-size: 45px;
}
.featured-books .featured-book-box .featured-book-card{
    width: 250px;
    height: 500px;
    text-align: center;
    padding: 5px;
    border: 1px ;
    margin: auto;
}
.featured-books .featured-book-box .featured-book-card:hover{
    box-shadow: 0 0 5px #089da1;
}
.featured-books .featured-book-box .featured-book-card:hover .featured-book-img img{
    transform: scale(1.1);
}
.featured-books .featured-book-box .featured-book-card .featured-book-img img{
    width: 150px;
    height: 180px;
}
.featured-books .featured-book-box .featured-book-card .featured-book-tag{
    margin: 12px;
}
.featured-books .featured-book-box .featured-book-card .featured-book-tag .writer{
    color: #919191;
}
.featured-books .featured-book-box .featured-book-card .featured-book-tag .categories{
    color: #089da1;
    margin-top: 8px;
}
.featured-books .featured-book-box .featured-book-card .featured-book-tag .bbol-price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}
.featured-books .featured-book-box .featured-book-card .featured-book-tag del{
    font-weight: 100;
    padding: 0 15px;
}
.featured-books .featured-book-box .featured-book-card .featured-book-tag .f-btn{
    padding: 1px;
    
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}
::-webkit-scrollbar{
    width: 10px;
    height: 15px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgb(0,0,0,0.2);
}
::-webkit-scrollbar-button{
    background-color: ;
    background-size: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}
::-webkit-scrollbar-button:hover{
    background-color:lightblue;
}

/*   */

.arrivals{
    width: 100%;
    height: 100vh;
    margin-bottom: 40px;

}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}

.arrivals .arrivals-box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 20px ;
}
.arrivals .arrivals-box .arrivals-card{
    width: 250px;
    height: 320px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 10px #919191;
    margin: auto 20px;
}
.arrivals .arrivals-box .arrivals-card:hover{
    box-shadow: 0 0 10px #089da1;
}
.arrivals .arrivals-box .arrivals-card .arrivals-image img{
    width: 150px;
    height: 180px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px #919191;
    overflow: hidden;
}
.arrivals .arrivals-box .arrivals-card .arrivals-image img{
    width: 150px;
    height: 180px;
    object-fit: cover;
    object-position:center;
    transition: 0.3s;
   
}
.arrivals .arrivals-box .arrivals-card:hover .arrivals-image img{
    transform: scale(1.1);
}
.arrivals .arrivals-box .arrivals-card .arrivals-tag p{
    font-size: 20px;
    margin: 8px 0;
}
.arrivals .arrivals-box .arrivals-card .arrivals-icon{
    color: #089da1;
    margin-bottom: 18px;
}
.arrivals .arrivals-box .arrivals-card .arrivals-tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    text-align:center ;
    color: #000;
}


/*     */
.blog{
    width: 100%;
    height: auto;
    margin-top: 250px;
    overflow: hidden;
}
.blog h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.blog .blog-box{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.blog .blog-box .blog-card{
    width: 450px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0.5);
    
}
.blog .blog-box .blog-card .blog-img{
    width: 450px;
    height: 300px;
    overflow: hidden;
}
.blog .blog-box .blog-card .blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.blog .blog-box .blog-card .blog-tag{
    padding: 20px;
}
.blog .blog-box .blog-card .blog-tag h2{
    color: #089da1;
}
.blog .blog-box .blog-card .blog-tag p{
    text-align: justify;
    margin: 2px;
    line-height: 20px;

}
.blog .blog-box .blog-card .blog-tag .blog-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #089da1;
    cursor: pointer;

}

/**/

footer{
    width: 100%;
    background: #eaeaea;
}
footer .footer-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer .footer-main .tag{
    margin: 10px 0;
}
footer .footer-main .tag img{
    width: 100px;
    margin-bottom: 10px;
}
footer .footer-main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}
footer .footer-main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}
footer .footer-main .tag a{
    display: block;
    color: #000;
    text-decoration: none;
    margin:10px 0;
}
footer .footer-main .tag i{
    margin-right: 10px;
}
footer .footer-main .search-bar{
    width: 230px;
    height: 30px;
    background-color: rgb(202,202,202);
    border-radius: 25px;
}
footer .footer-main .tag .search-bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    outline: none;
    font-size:13px ;
    background: none;
}
footer .footer-main .tag .search-bar button{
    padding: 7px 15px;
    background: #089da1;
    margin-top:15px ;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}




/* Navbar section */
.header .header-2 .navbar{
    text-align: center;
    background-color: #089da1;
}

.header .header-2 .navbar a{
    font-family: sans-serif;
    color: white;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 1.4rem; 
    }
}
@media only screen and (max-width: 768px) {
    .header .header-2 .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .header-2 .navbar a {
        margin: 10px 0;
    }
}

.services .services-box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .services .services-box {
        flex-direction: column;
    }

    .services .services-box .services-card {
        width: 100%;
        margin-bottom: 20px;
    }
}
.featured-books .featured-book-box {
    width: 95%;
    height: 60vh;
    margin:0 auto ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

@media only screen and (max-width: 768px) {
    .featured-books .featured-book-box {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .featured-books .featured-book-box .featured-book-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

.arrivals-card {
    width: 100vw;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.arrivals-image {
    max-width: 100%;
}

.arrivals-tag {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .arrivals-card {
        max-width: 100vw;
        margin: 0;
    }

    .arrivals-tag {
        padding: 10px; 
    }
}